.container{
  margin-bottom: 50px;
}
h2 {
  text-align: center;
}
.status-buttons {
  text-align: center;
  margin:0 20px 20px 20px;
}
.status-buttons a {
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
}
.screenshots {
  margin: auto;
  text-align: center;
  height: 550px;
}
.screenshots img {
  margin-left: 20px;
  margin-right: 20px;
  height: 500px;
}
.downloads {
  text-align: center;
}
.downloads a {
  width:150px;
  margin-left: 20px;
}
