<?xml version="1.0" encoding="UTF-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.gigaStorm.twinRinks"
  android:versionCode="7"
  android:versionName="1.4.2">

  <uses-sdk
    android:minSdkVersion="11"
    android:targetSdkVersion="19" />

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_CALENDAR" />
  <uses-permission android:name="android.permission.WRITE_CALENDAR" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/Theme.Sherlock">
    <activity android:name="com.gigaStorm.twinRinks.Activity_Main">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="com.gigaStorm.twinRinks.Activity_About"
      android:parentActivityName="Activity_Main" />
    <activity
      android:name="com.gigaStorm.twinRinks.Activity_Settings"
      android:parentActivityName="Activity_Main" />
  </application>

</manifest>